// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-status {
  background-repeat:no-repeat;
  background-position: center;
}

.img-status-sz20 {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.status-wait {
  background-image: url("wait.png");
}

.status-new {
  background-image: url("wait.png");
}

.status-received {
  background-image: url("received.png");
}

.status-progress {
  background-image: url("progress.png");
}

.status-play {
  background-image: url("progress.png");
}

.status-completed {
  background-image: url("completed.png");
}

.status-cancel {
  background-image: url("cancel.png");
}