// Place all the styles related to the volsofdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#volsofdays {
  float: left;
  width: 50%;

  #volsofdays-new {
    float: left;
    width: 70%;

    #timestring {
      float: left;
      width: 100%;

      #hours {
        float: left;
        width: 33%;
        #am-hours {
          float: left;
          width: 50%;
        }
        #pm-hours {
          float: left;
          width: 50%;
        }
      }
      #new_volsofday {
        float: left;
        width: 33%;
      }
      #minutes {
        padding-left: 1%;
        float: left;
        width: 33%;
      }
    }
  }

  #volsofdays-list {
    float: left;
    width: 20%;
  }

}

#volsofday_value {
  float: right;
  width: 50%;
}

#volsofday_time {
  float: right;
  width: 50%;
}

