// Place all the styles related to the worktime_broadcastings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
#worktime {
  float: left;
  width: 50%;
  #worktime-new {
    float: left;
    width: 100%;
    #timestring-start {

      #hours-start {
        float: left;
        width: 50%;
        #am-hours-start {
        }

        #pm-hours-start {
        }
      }

      #minutes-start {
        float: left;
        width: 50%;
      }
    }

    #work-time-form {
      float: left;
      width: 40%;
    }

    #timestring-stop {
      float: left;
      width: 30%;
      #hours-stop {
        float: left;
        width: 50%;
        #am-hours-stop {
        }

        #pm-hours-stop {
        }
      }

      #minutes-stop {
        float: left;
        width: 50%;
      }
    }
  }

  #worktime-broadcastings {
    float: left;
    width: 50%;
    #worktime-show {

    }
  }
}

#worktime_broadcasting_wday {
  width: 50%;
}

#worktime_broadcasting_start {
  width: 50%;
}

#worktime_broadcasting_stop {
  width: 50%;
}

#new_worktime_broadcasting {
  float: left;
  width: 100%;
}*/
